{% extends 'accounts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">

         <div class="col-md-6 col-sm-6">
              <img src="../../static/accounts/images/undraw_dashboard_nklg.svg" class="img-responsive" style="width: 500px;height:auto ;"  alt="">
         </div>

         <div class="col-md-6 col-sm-6" style="margin-top: 5%;">
              <!-- CONTACT FORM HERE -->
              <h2><div class="text-dark" style="text-align: center;">Hello Doc</div></h2>
              <form id="signupp-form" role="form" method="post" action="{% url 'signupd_check' %}">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" name="email" id="inputEmail">
                  </div>
                  
                </div>
                <div class="form-group">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Albert Einstein">
                  </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" name="address" id="inputAddress" placeholder="1234 Main St">
                </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="+91">
                  </div>
                  <div class="form-group">
                    <label for="inputState">Profession</label>
                    <select id="inputState" class="form-control">
                      <option selected>General Health</option>
                      <option selected>Cardiology</option>
                      <option selected>Dental</option>
                      <option selected>Research</option>
                    </select>
                  </div>
                <!-- <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div> -->
                <div class="form-group">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" name="password" id="inputPassword">
                  </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
         </div>

    </div>
</div>


{% endblock %}